<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <title>Страница Юзера</title>
    <link rel="stylesheet" href="/css/styleuser.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="webjars/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<div class="content container-fluid">
    <div class="header">
        <div class="header-inf">
            <p class="headName" th:text="${userSolo.getName() + '&#160'}"></p>
            <p>with roles: &#160</p>
            <p class="roles" th:each="roles : ${userSolo.getRole()}" th:text="${roles.getRole() + '&#160'}"></p>
            <p id="idUser" hidden="hidden" th:text="${userSolo.getId()}"></p>
        </div>
        <a href="/logout">Logout</a>
    </div>
</div>
<div class="content2">
    <div class="menuleft col-2">
        <div th:each="roles : ${userSolo.getRole()}" class="obert">
            <div  th:if="${roles.getRole() eq 'Admin'}" class="nonActive links btn btn-large btn-primary col-12">
                <a th:href="admin">Admin</a>
            </div>
            <div th:if="${roles.getRole() eq 'User'}" class="links btn btn-large btn-primary col-12">
                <a th:href="user">User</a>
            </div>
        </div>


    </div>
    <div class="contentrich col-10">
        <h1>User information-page</h1>
        <div class="myTable">
            <div class="myTitle table-secondary">
                <p>About user</p>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Telephone</th>
                    <th>Password</th>
                    <th>Role</th>
                </tr>
                </thead>
                <tbody id="tableUser">
                <script>
                    let idUser = $('#idUser').text();
                    $.ajax("/rest/user/" + idUser, {

                        success: function (msg) { //msg - то, что придет с сервера, респонз
                            let stringRoles = '';
                            msg.role.forEach(function(role, index) {
                                stringRoles += role.role + " ";
                            });
                            $('#tableUser').append(`<tr>
                    <td class="table-secondary">${msg.id}</td>
                    <td class="table-secondary">${msg.name}</td>
                    <td class="table-secondary">${msg.telephone}</td>
                    <td class="table-secondary">${msg.password}</td>
                    <td class="table-secondary roleTable" id="roleUser">
                        <p>${stringRoles}</p>
                    </td>
                </tr>`);
                        }
                    })
                </script>

                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>